'use client'

import styles from './{{pascalCase name}}.module.css'
{{#if hasTypes}}
import { {{pascalCase name}}Props } from '../types'
{{/if}}

export const {{pascalCase name}} = ({{#if hasTypes}}props: {{pascalCase name}}Props{{/if}}) => {
	return (
		<div className={{=<% %>=}}{styles.wrapper}<%={{ }}=%>>
			{{pascalCase name}}
		</div>
	)
}
